* {
    padding: 0;
    margin: 0;
}

.menu {
    height: 50px;
    position: relative;
}

.menu::before {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: -1;
}

.menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.menu ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 1.5rem;
}

.menu ul li a {
    padding: 5px 20px;
    text-decoration: none;
    color: black;
}

.menu ul li a:hover {
    border-bottom: 2px solid #003147;
}


#home {
    height: 650px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding-left: 20px;
    position: relative;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url('tirth.jpg');
    height: 600px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

#home-content {
    position: relative;
    padding-top: 50px; 
}

.name1  {
    color: white;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 20px; 
}

.name2  {
    color: white;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 20px; 
}
.para{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px; 
}

#intro {
    padding: 80px 0;
    background-color: rgba(0, 0, 0, 0.5);
}


.row {
    display: block;
}

.col1 {
    width: 35%;
    float: left;
    margin-right: 5%;
}

.col1 img {
    width: 100%;
    border-radius: 15px;
}

.col2 {
    width: 60%;
    float: left;
}

.sum {
    font-size: 60px;
    font-weight: 600;
    color: black;

}

.tab {
    display: flex;
    margin: 20px 0 40px;
}

.link {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.link::after {
    content: '';
    width: 0;
    height: 3px;
    background: #003147;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.link.active::after {
    width: 50%;
}

.content ul li {
    list-style: none;
    margin: 10px, 0;
}

.content ul li span {
    color: #075287;
    font-size: 14px;

}

.content {
    display: none;
}

.content.active-content {
    display: block;
}


.contactInfo {
    padding: 80px 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 20px;
}
#contactInfo {
    height: 650px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 60px;
    font-size: 35px;
}